*{
  margin: 0px;
  padding: 0px;
}



/*
nesse arquivo CSS esta simples estilizaçoes de botões 
esse software e de codigo aberto 

LEIA O AQUIVO DE LICENÇA INCLUÍDO 

Esse software ainda pode esta em desenvolvimento 

css folha de estilos para paginas web 

*/



/*Buttons transparente estilizados simoles css */
.buttonTransparent{
border:1px solid #25692A;
border-radius:4px;
display:inline-block;
cursor:pointer;
font-family:Verdana;
font-weight:bold;
font-size:13px;
padding:6px 10px;
text-decoration:none;
background-color: transparent;
color:white;
}


.buttonTransparentOrange{
border:1px solid orange;
border-radius:4px;
display:inline-block;
cursor:pointer;
font-family:Verdana;
font-weight:bold;
font-size:13px;
padding:6px 10px;
text-decoration:none;
background-color: transparent;
color:white;
}

.buttonTransparentRed{
border:1px solid red;
border-radius:4px;
display:inline-block;
cursor:pointer;
font-family:Verdana;
font-weight:bold;
font-size:13px;
padding:6px 10px;
text-decoration:none;
background-color: transparent;
color:white;
}

.buttonTransparentBlue{
border:1px solid Blue;
border-radius:4px;
display:inline-block;
cursor:pointer;
font-family:Verdana;
font-weight:bold;
font-size:13px;
padding:6px 10px;
text-decoration:none;
background-color: transparent;
color:white;
}

.buttonTransparentGrape{
border:1px solid #5A0187;
border-radius:4px;
display:inline-block;
cursor:pointer;
font-family:Verdana;
font-weight:bold;
font-size:13px;
padding:6px 10px;
text-decoration:none;
background-color: transparent;
color:white;
}
/*buttons coloridos estilizado css */

.buttonRedColor{
  background-color: #E80000;
  color: #FFFFFF;
  border-color:#E80000;
  width: 90px;
  height: 30px;
  border-radius: 2px;
  font-size: 13px;
  border:solid 1px;
}

.buttonBlueColor{
  background-color:#0DA1E4;
  color: #FFFFFF;
  border-color:#0DA1E4;
  width: 90px;
  height: 30px;
  border-radius: 2px;
  font-size: 13px;
  border:solid 1px;
}

.buttonOrangeColor{
  background-color:#FF8B03;
  color: #FFFFFF;
  border-color:#FF8B03;
  width: 90px;
  height: 30px;
  border-radius: 2px;
  font-size: 13px;
  border:solid 1px;
}

.buttonBlackColor{
  background-color: black;
  color: #FFFFFF;
  border-color:black;
  width: 90px;
  height: 30px;
  border-radius: 2px;
  font-size: 13px;
  border:solid 1px;
}

.buttonPinkColor{
  background-color: #FF0058;
  color: #FFFFFF;
  border-color:#FF0058;
  width: 90px;
  height: 30px;
  border-radius: 2px;
  font-size: 13px;
  border:solid 1px;
}

.buttonGrennColor{
  background-color: #0AB803;
  color: #FFFFFF;
  border-color:#0AB803;
  width: 90px;
  height: 30px;
  border-radius: 2px;
  font-size: 13px;
  border:solid 1px;
}


.buttonGrapeColor{
background-color: #5A0187;
  color: #FFFFFF;
  border-color:#5A0187;
  width: 90px;
  height: 30px;
  border-radius: 2px;
  font-size: 13px;
  border:solid 1px;


}

/*botões radius estilizados simples css */
.RadiusBRed{
  width: 130px;
  height: 43px;
  border-radius: 34px;
  border-color: #FF0000;
  background-color: #000000;
  color:white;
}


.RadiusBBlue{
  width: 130px;
  height: 43px;
  border-radius: 34px;
  border-color: #00D9FF;
  background-color: #000000;
  color:white;
}

.RadiusBOrange{
  width: 130px;
  height: 43px;
  border-radius: 34px;
  border-color: #FF9500;
  background-color: #000000;
  color:white;
}






/* todas as estilizaçoes assima são simples para botões em paginas web */